<div class="layout">
  <div class="columns">

    <!-- Left column: current conditions -->
    <div class="column">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--xxlarge">{{ current.temp_f }}°</span>
          <span class="label">{{ location }}, {{ region }}</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="title">{{ current.condition }}</span>
          <span class="label">Feels like {{ current.feels_like_f }}° &middot; Humidity {{ current.humidity }}% &middot; Wind {{ current.wind_mph }} mph &middot; UV {{ current.uv }}</span>
        </div>
      </div>
      <div class="divider"></div>
      {% for hour in hourly %}
      <div class="item">
        <div class="meta">
          <span class="label label--gray">{{ hour.time }}</span>
        </div>
        <div class="content">
          <span class="value value--small">{{ hour.temp_f }}°</span>
          <span class="label">{{ hour.condition }} &middot; {{ hour.rain }}% rain</span>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Right column: 3-day forecast -->
    <div class="column">
      {% for day in forecast %}
      <div class="item">
        <div class="meta">
          <span class="label label--gray">{{ day.day }}</span>
        </div>
        <div class="content">
          <span class="value value--small">{{ day.high_f }}° / {{ day.low_f }}°</span>
          <span class="label">{{ day.condition }} &middot; {{ day.rain }}% rain</span>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/weather--render.svg" />
  <span class="title">Weather</span>
  <span class="instance">{{ location }}</span>
</div>
