<div class="layout layout--col gap--space-between">
  <div class="item">
    <div class="meta"></div>
    <div class="content">
      <span class="value value--xxxlarge" data-value-fit="true">{{ current.temp_f }}°</span>
      <span class="label">{{ current.condition }}</span>
    </div>
  </div>

  <div class="w-full b-h-gray-5"></div>

  <div class="flex flex--col gap--small">
    {% for day in forecast %}
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--small">{{ day.high_f }}° / {{ day.low_f }}°</span>
        <span class="label">{{ day.day }} &mdash; {{ day.condition }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="title_bar">
  <span class="title">Weather</span>
  <span class="instance">{{ location }}</span>
</div>
