<div class="layout">
  <div class="columns">

    <!-- Left: current conditions -->
    <div class="column">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--xlarge">{{ current.temp_f }}째</span>
          <span class="label">{{ location }}</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="title title--small">{{ current.condition }}</span>
          <span class="label">Feels {{ current.feels_like_f }}째 &middot; {{ current.humidity }}% humidity</span>
        </div>
      </div>
    </div>

    <!-- Right: 3-day forecast -->
    <div class="column">
      {% for day in forecast %}
      <div class="item">
        <div class="meta">
          <span class="label label--gray">{{ day.day }}</span>
        </div>
        <div class="content">
          <span class="value value--small">{{ day.high_f }}째 / {{ day.low_f }}째</span>
          <span class="label">{{ day.rain }}% rain</span>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/weather--render.svg" />
  <span class="title">Weather</span>
  <span class="instance">{{ location }}</span>
</div>
