<div class="layout layout--col layout--center gap--small">
  <div class="item">
    <div class="meta"></div>
    <div class="content">
      <span class="value value--xlarge" data-value-fit="true">{{ current.temp_f }}°</span>
      <span class="label">{{ current.condition }}</span>
    </div>
  </div>
  <span class="label label--small">H: {{ forecast[0].high_f }}° L: {{ forecast[0].low_f }}°</span>
</div>

<div class="title_bar">
  <span class="title">Weather</span>
  <span class="instance">{{ location }}</span>
</div>
